#container{
    padding: 20px;
    margin: 20px;
}
*{
    margin: 5px;
}
#search{
    background-color: white;
    color: lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 15px;
    font-weight: bold;
    padding: 5px 35px 5px 35px;
}
#add{
    background-color: turquoise;
    color: white;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
}
#createaccount{
    background-color: royalblue;
    color: white;
    border-color: black;
    padding: 5px 40px 5px 40px;
    box-shadow: 5px 5px black;
}